div {
  animation-name: spin;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

@keyframes spin {
  0,
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
