div {
  background: #f62459;
  -webkit-animation: spin .5s infinite linear;
          animation: spin .5s infinite linear;
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}