div {
  animation-name: fadeIn;
  animation-duration: .5s;
  animation-timing-function: ease-out;
  animation-fill-mode: none;
}

div:nth-of-type(1) {
  animation-delay: 1s;
}

div:nth-of-type(2) {
  animation-delay: 1.5s;
}

div:nth-of-type(3) {
  animation-delay: 2s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
}